<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tehtava_09_asiakkaidenMuokkaus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <tehtava_09_asiakkaidenMuokkaus.Properties.Settings>
            <setting name="Tietokanta" serializeAs="String">
                <value>Data source = eight.labranet.jamk.fi; database = Viini; user = koodari; password = koodari13</value>
            </setting>
        </tehtava_09_asiakkaidenMuokkaus.Properties.Settings>
    </applicationSettings>
</configuration>